<%- include('../partials/header')%>
<div class="container mb-4">
    <h3>List of our contributors!</h3>
    <% allContributor.forEach(item => { %>
    <% if(currentUser && item === currentUser.name) { %>
    <h3><a href="/user/<%= item %>/profile"><%= item %></a></h3>
    <% } else { %>
    <h3><a href="/user/<%= item %>"><%= item %></a></h3>
    <% } %>
    <hr>
    <% }) %>
</div>
<%- include('../partials/footer')%>