<%- include('../partials/header')%>
<div class="container mb-4">
    <% allUser.forEach(item => { %>
    <% if(currentUser && item.name === currentUser.name) { %>
    <h3><a href="/user/<%= item.name %>/profile"><%= item.name %></a></h3>
    <% } else { %>
    <h3><a href="/user/<%= item.name %>"><%= item.name %></a></h3>
    <% } %>
    <hr>
    <% }) %>
</div>
<%- include('../partials/footer')%>